In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# reading in the data set in csv format
df = pd.read_csv("PEA15.20231016T181007.csv")

#this will allow us to print the first few rows of the chosen dataset
print(df.head())

            STATISTIC Label  Year         Component      UNIT  VALUE
0  Annual Population Change  1951     Annual births  Thousand    NaN
1  Annual Population Change  1951     Annual deaths  Thousand    NaN
2  Annual Population Change  1951  Natural increase  Thousand   26.6
3  Annual Population Change  1951        Immigrants  Thousand    NaN
4  Annual Population Change  1951         Emigrants  Thousand    NaN

In [3]:
df.describe(include=object)

                 STATISTIC Label      Component      UNIT
count                        584            584       584
unique                         1              8         1
top     Annual Population Change  Annual births  Thousand
freq                         584             73       584

In [4]:
df.shape

(584, 5)

In [5]:
display(df)

              STATISTIC Label  Year          Component      UNIT   VALUE
0    Annual Population Change  1951      Annual births  Thousand     NaN
1    Annual Population Change  1951      Annual deaths  Thousand     NaN
2    Annual Population Change  1951   Natural increase  Thousand    26.6
3    Annual Population Change  1951         Immigrants  Thousand     NaN
4    Annual Population Change  1951          Emigrants  Thousand     NaN
..                        ...   ...                ...       ...     ...
579  Annual Population Change  2023         Immigrants  Thousand   141.6
580  Annual Population Change  2023          Emigrants  Thousand    64.0
581  Annual Population Change  2023      Net migration  Thousand    77.6
582  Annual Population Change  2023  Population change  Thousand    97.6
583  Annual Population Change  2023         Population  Thousand  5281.6

[584 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC Label  584 non-null    object
 1   Year             584 non-null    int64
 2   Component        584 non-null    object
 3   UNIT             584 non-null    object
 4   VALUE            440 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 22.9+ KB

In [7]:
df.Year.value_counts()

1951    8
1988    8
2004    8
2003    8
2002    8
       ..
1975    8
1974    8
1973    8
1972    8
2023    8
Name: Year, Length: 73, dtype: int64